.gallery li {
    display: block;
    width: 130px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid black;
}

.gallery img {
    max-width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
